-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: floods
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `building`
--

DROP TABLE IF EXISTS `building`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `building` (
  `building_id` int NOT NULL,
  `location_id` int NOT NULL,
  `building_type` varchar(30) NOT NULL,
  `damage_status` varchar(20) NOT NULL,
  PRIMARY KEY (`building_id`),
  KEY `idx_building_location` (`location_id`),
  CONSTRAINT `fk_building_location` FOREIGN KEY (`location_id`) REFERENCES `location` (`location_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `check_building_damage_status` CHECK ((`damage_status` in (_utf8mb4'Undamaged',_utf8mb4'Minor',_utf8mb4'Moderate',_utf8mb4'Severe',_utf8mb4'Destroyed'))),
  CONSTRAINT `check_building_id_positive` CHECK ((`building_id` > 0)),
  CONSTRAINT `check_building_type` CHECK ((`building_type` in (_utf8mb4'Residential',_utf8mb4'Commercial',_utf8mb4'Industrial',_utf8mb4'Hospital',_utf8mb4'School',_utf8mb4'Government',_utf8mb4'Other')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `building`
--

LOCK TABLES `building` WRITE;
/*!40000 ALTER TABLE `building` DISABLE KEYS */;
/*!40000 ALTER TABLE `building` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flood_impact`
--

DROP TABLE IF EXISTS `flood_impact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flood_impact` (
  `flood_impact_id` int NOT NULL,
  `location_id` int NOT NULL,
  `deaths_female` int NOT NULL,
  `deaths_male` int NOT NULL,
  `deaths_unknown` int NOT NULL,
  `injured_female` int NOT NULL,
  `injured_male` int NOT NULL,
  `injured_unknown` int NOT NULL,
  `govt_buildings_damaged` int NOT NULL,
  `govt_buildings_part_damaged` int NOT NULL,
  `public_buildings_damaged` int NOT NULL,
  `public_buildings_part_damaged` int NOT NULL,
  PRIMARY KEY (`flood_impact_id`),
  KEY `fk_earthquake_impact_location` (`location_id`),
  CONSTRAINT `fk_earthquake_impact_location` FOREIGN KEY (`location_id`) REFERENCES `location` (`location_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `check_eq_counts_non_negative` CHECK (((`deaths_female` >= 0) and (`deaths_male` >= 0) and (`deaths_unknown` >= 0) and (`injured_female` >= 0) and (`injured_male` >= 0) and (`injured_unknown` >= 0) and (`govt_buildings_damaged` >= 0) and (`govt_buildings_part_damaged` >= 0) and (`public_buildings_damaged` >= 0) and (`public_buildings_part_damaged` >= 0)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flood_impact`
--

LOCK TABLES `flood_impact` WRITE;
/*!40000 ALTER TABLE `flood_impact` DISABLE KEYS */;
/*!40000 ALTER TABLE `flood_impact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flood_observation`
--

DROP TABLE IF EXISTS `flood_observation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flood_observation` (
  `location_id` int NOT NULL,
  `period_start` date NOT NULL,
  `cropland_flooded_ha` int NOT NULL,
  `total_area_flooded_ha` int NOT NULL,
  `pop_exposed` int NOT NULL,
  PRIMARY KEY (`location_id`,`period_start`),
  CONSTRAINT `fk_flood_observation_period` FOREIGN KEY (`location_id`, `period_start`) REFERENCES `flood_period` (`location_id`, `period_start`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `check_flood_areas` CHECK (((`cropland_flooded_ha` >= 0) and (`total_area_flooded_ha` >= 0) and (`cropland_flooded_ha` <= `total_area_flooded_ha`))),
  CONSTRAINT `check_flood_pop_exposed` CHECK ((`pop_exposed` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flood_observation`
--

LOCK TABLES `flood_observation` WRITE;
/*!40000 ALTER TABLE `flood_observation` DISABLE KEYS */;
/*!40000 ALTER TABLE `flood_observation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flood_period`
--

DROP TABLE IF EXISTS `flood_period`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flood_period` (
  `location_id` int NOT NULL,
  `period_start` date NOT NULL,
  `period_end` date NOT NULL,
  PRIMARY KEY (`location_id`,`period_start`),
  CONSTRAINT `fk_flood_period_location` FOREIGN KEY (`location_id`) REFERENCES `location` (`location_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `check_flood_period_in_month` CHECK (((year(`period_start`) = year(`period_end`)) and (month(`period_start`) = month(`period_end`)) and ((to_days(`period_end`) - to_days(`period_start`)) between 12 and 15))),
  CONSTRAINT `check_flood_period_order` CHECK ((`period_end` >= `period_start`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flood_period`
--

LOCK TABLES `flood_period` WRITE;
/*!40000 ALTER TABLE `flood_period` DISABLE KEYS */;
/*!40000 ALTER TABLE `flood_period` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `location`
--

DROP TABLE IF EXISTS `location`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `location` (
  `location_id` int NOT NULL,
  `location_name` varchar(30) NOT NULL,
  `region` varchar(30) NOT NULL,
  `damage_level` varchar(30) NOT NULL,
  `population` int DEFAULT NULL,
  `households` int DEFAULT NULL,
  PRIMARY KEY (`location_id`),
  UNIQUE KEY `uq_location_name` (`location_name`),
  CONSTRAINT `check_location_damage_level` CHECK ((`damage_level` in (_utf8mb4'None',_utf8mb4'Low',_utf8mb4'Moderate',_utf8mb4'High',_utf8mb4'Critical'))),
  CONSTRAINT `check_location_households` CHECK (((`households` is null) or (`households` >= 0))),
  CONSTRAINT `check_location_id_positive` CHECK ((`location_id` > 0)),
  CONSTRAINT `check_location_population` CHECK (((`population` is null) or (`population` >= 0)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `location`
--

LOCK TABLES `location` WRITE;
/*!40000 ALTER TABLE `location` DISABLE KEYS */;
/*!40000 ALTER TABLE `location` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operations`
--

DROP TABLE IF EXISTS `operations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operations` (
  `operation_id` int NOT NULL,
  `org_id` int NOT NULL,
  `location_id` int NOT NULL,
  `operation_type` varchar(30) NOT NULL,
  `start_date` date NOT NULL,
  `status` varchar(30) NOT NULL,
  PRIMARY KEY (`operation_id`),
  KEY `idx_operations_org` (`org_id`),
  KEY `idx_operations_location` (`location_id`),
  CONSTRAINT `fk_operation_location` FOREIGN KEY (`location_id`) REFERENCES `location` (`location_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_operation_organization` FOREIGN KEY (`org_id`) REFERENCES `organization` (`org_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `check_operation_id_positive` CHECK ((`operation_id` > 0)),
  CONSTRAINT `check_operation_status` CHECK ((`status` in (_utf8mb4'Planned',_utf8mb4'Active',_utf8mb4'Completed',_utf8mb4'Cancelled'))),
  CONSTRAINT `check_operation_type` CHECK ((`operation_type` in (_utf8mb4'Rescue',_utf8mb4'Evacuation',_utf8mb4'Medical',_utf8mb4'Supply',_utf8mb4'Repair',_utf8mb4'Assessment',_utf8mb4'Other')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operations`
--

LOCK TABLES `operations` WRITE;
/*!40000 ALTER TABLE `operations` DISABLE KEYS */;
/*!40000 ALTER TABLE `operations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organization`
--

DROP TABLE IF EXISTS `organization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `organization` (
  `org_id` int NOT NULL,
  `org_name` varchar(100) NOT NULL,
  `org_type` varchar(50) NOT NULL,
  `contact_info` varchar(50) NOT NULL,
  PRIMARY KEY (`org_id`),
  UNIQUE KEY `org_name` (`org_name`),
  CONSTRAINT `check_org_id_positive` CHECK ((`org_id` > 0)),
  CONSTRAINT `check_org_type` CHECK ((`org_type` in (_utf8mb4'Government',_utf8mb4'NGO',_utf8mb4'Military',_utf8mb4'Medical',_utf8mb4'Emergency Services',_utf8mb4'Private',_utf8mb4'Other')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organization`
--

LOCK TABLES `organization` WRITE;
/*!40000 ALTER TABLE `organization` DISABLE KEYS */;
/*!40000 ALTER TABLE `organization` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `person`
--

DROP TABLE IF EXISTS `person`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `person` (
  `person_id` int NOT NULL,
  `name` varchar(30) NOT NULL,
  `age` int NOT NULL,
  `status` varchar(20) NOT NULL,
  PRIMARY KEY (`person_id`),
  CONSTRAINT `check_person_age` CHECK (((`age` >= 0) and (`age` <= 123))),
  CONSTRAINT `check_person_id_positive` CHECK ((`person_id` > 0)),
  CONSTRAINT `check_person_status` CHECK ((`status` in (_utf8mb4'Missing',_utf8mb4'Injured',_utf8mb4'Deceased',_utf8mb4'Rescued',_utf8mb4'Other')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `person`
--

LOCK TABLES `person` WRITE;
/*!40000 ALTER TABLE `person` DISABLE KEYS */;
/*!40000 ALTER TABLE `person` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `report`
--

DROP TABLE IF EXISTS `report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `report` (
  `report_id` int NOT NULL,
  `person_id` int NOT NULL,
  `location_id` int NOT NULL,
  `report_text` varchar(100) NOT NULL,
  `reported_at` timestamp NOT NULL,
  `reliability_score` double NOT NULL,
  PRIMARY KEY (`report_id`),
  KEY `idx_report_person` (`person_id`),
  KEY `idx_report_location` (`location_id`),
  CONSTRAINT `fk_report_location` FOREIGN KEY (`location_id`) REFERENCES `location` (`location_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_report_person` FOREIGN KEY (`person_id`) REFERENCES `person` (`person_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `check_reliability_score` CHECK (((`reliability_score` >= 0.0) and (`reliability_score` <= 1.0))),
  CONSTRAINT `check_report_id_positive` CHECK ((`report_id` > 0)),
  CONSTRAINT `check_report_text_not_empty` CHECK ((length(trim(`report_text`)) > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `report`
--

LOCK TABLES `report` WRITE;
/*!40000 ALTER TABLE `report` DISABLE KEYS */;
/*!40000 ALTER TABLE `report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_earthquake_impact`
--

DROP TABLE IF EXISTS `v_earthquake_impact`;
/*!50001 DROP VIEW IF EXISTS `v_earthquake_impact`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_earthquake_impact` AS SELECT 
 1 AS `location_id`,
 1 AS `deaths_female`,
 1 AS `deaths_male`,
 1 AS `deaths_unknown`,
 1 AS `total_deaths`,
 1 AS `injured_female`,
 1 AS `injured_male`,
 1 AS `injured_unknown`,
 1 AS `total_injured`,
 1 AS `govt_buildings_damaged`,
 1 AS `govt_buildings_part_damaged`,
 1 AS `public_buildings_damaged`,
 1 AS `public_buildings_part_damaged`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_earthquake_impact`
--

/*!50001 DROP VIEW IF EXISTS `v_earthquake_impact`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_earthquake_impact` AS select `flood_impact`.`location_id` AS `location_id`,`flood_impact`.`deaths_female` AS `deaths_female`,`flood_impact`.`deaths_male` AS `deaths_male`,`flood_impact`.`deaths_unknown` AS `deaths_unknown`,((`flood_impact`.`deaths_female` + `flood_impact`.`deaths_male`) + `flood_impact`.`deaths_unknown`) AS `total_deaths`,`flood_impact`.`injured_female` AS `injured_female`,`flood_impact`.`injured_male` AS `injured_male`,`flood_impact`.`injured_unknown` AS `injured_unknown`,((`flood_impact`.`injured_female` + `flood_impact`.`injured_male`) + `flood_impact`.`injured_unknown`) AS `total_injured`,`flood_impact`.`govt_buildings_damaged` AS `govt_buildings_damaged`,`flood_impact`.`govt_buildings_part_damaged` AS `govt_buildings_part_damaged`,`flood_impact`.`public_buildings_damaged` AS `public_buildings_damaged`,`flood_impact`.`public_buildings_part_damaged` AS `public_buildings_part_damaged` from `flood_impact` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-09 22:47:33
